@import "tailwindcss";

@layer base {
}

@layer components {
  .btn {
    cursor: pointer;
    background-color: #000;
    color: white;
    font-size: 1rem;
    padding: 0.44rem 1.2rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease;
    border: 2px solid #434343;
    -webkit-appearance: none;
    appearance: none;
  }

  .btn:hover {
    background-color: #111;
    border-color: #444;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .btn:active {
    transform: scale(0.98);
    box-shadow: none;
  }
}
