@import "tailwindcss";

@layer base {
  h1 {
    font-family: "Inter", sans-serif;
  }
  button.btn {
    font-family: monospace;
    font-family: var(--font-geist-sans);
    background-color: rgb(229, 229, 229);
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
  }

  button.btn:hover {
    background-color: #cbcbcb;
    border-color: rgba(255, 255, 255, 0.3);
  }
  button.btn:active {
    transform: scale(0.95);
  }
}
